*{
 margin: 0;
 padding:0;
 background-color: black;
 color:white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 box-sizing: border-box;
 background-image: url('https://th.bing.com/th/id/OIG.GGJJCwKqWRz7VaSVPl6q?pid=ImgGn');
}