#time-line{
position: relative;
width:75%;

}
.timeline-box{
    position: relative;
    width:40%;
    margin:5px;
    left:5%;
    min-height: 150px;
    
}
.timeline-box:nth-child(2n){
    left:53%;
}
.timeline-box:nth-child(2n+1):after{
    content: '';
    position: absolute;
    height: 0.5rem;
    width:0.5rem;
    top:25%;
    right:-12.2%;
    background-color: lightpink;
    border-radius: 50%;
    z-index:1000;
}
.timeline-box:nth-child(2n):after{
    content: '';
    position: absolute;
    height: 0.5rem;
    width:0.5rem;
    top:25%;
    left:-10%;
    background-color:lightblue;
    border-radius: 50%;
    z-index:1000;
}
.time-line-divider{
    position:absolute;
   height:90vh;
    width:0;
    border:2px dashed lightgreen;
   top:10px;
   left:50%;
}

.time-line-traveler{
    position: sticky;
    top:20%;
    rotate: 90deg;
    z-index: 1500;
    color:lightblue;
}


.project-categroy{
    width:100vw;
    border:2px solid black;
}
.project-categroy ul{
    display: flex;
    justify-content: center;
}

.project-categroy ul li{
    display: inline-block;
    margin-left: 25px;
    align-items: center;
   cursor: pointer;
    font-size: large;
}


.selected-btn{
    color:red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid red;
    font-weight: bolder;
    font-size: monospace;
}
.unselected-btn{
    border: none;
}
